.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  color: var(--clr-light);
  /* border: 2px solid var(--clr-steelblue); */
  gap: 3rem;
  margin-top: 2rem;
  padding: 1rem;
}

.grid-item {
  padding: 2rem;
  height: 350px;
  /* cursor: pointer; */
  background-color: var(--clr-steelblue);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid var(--clr-steelblue);
  box-shadow: 0 0 25px var(--clr-steelblue);
}

.grid-item:hover {
  background-size: 115%;
  opacity: 0.5;
}

.item-3:hover {
  background-size: 110%;
}

.item-4:hover {
  background-size: 125%;
}

.item-1 {
  background-image: url(/Brazos/starbucksCustom.png);
  background-position: 70%;
  background-repeat: no-repeat;
  background-size: cover;
}

.item-2 {
  background-image: url(/Brazos/firehouseCustom.png);
  background-position: 70%;
  background-repeat: no-repeat;
  background-size: cover;
}
.item-3 {
  background-image: url(/Brazos/dominos_entranceCustom.png);
  background-position: 70%;
  background-repeat: no-repeat;
  background-size: cover;
}
.item-4 {
  background-image: url(/Brazos/charleysCustom.png);
  background-position: 70%;
  background-repeat: no-repeat;
  background-size: cover;
}

.label-hide {
  display: none;
  /* color: #fff; */
}

.grid-item:hover .label-hide {
  display: block;
}

.anchor-point {
  display: block;
  position: relative;
  top: -250px; /* Adjust this value based on your header height */
  visibility: hidden;
}

/* xs - small tablets */
/* @media (min-width: 475px) {
} */

/* sm - medium tablets */
/* @media (min-width: 640px) {
} */

/* md - large tablets */
/* @media (min-width: 768px) {
} */

/* lg - laptops */
@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid-item {
    padding: 2rem;
    height: 450px;
    /* cursor: pointer; */
    background-color: var(--clr-steelblue);
  }
}

/* xl - desktop monitor */
/* @media (min-width: 1280px) {
} */

/* 2xl - 2k monitors and up, 4k monitors/tvs */
/* @media (min-width: 1536px) {
} */
